<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, vel! Quia doloribus animi iusto deleniti et sequi. Sunt ad quod dolorem inventore ipsa eum commodi obcaecati at, optio fugit sint.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, vel! Quia doloribus animi iusto deleniti et sequi. Sunt ad quod dolorem inventore ipsa eum commodi obcaecati at, optio fugit sint.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, vel! Quia doloribus animi iusto deleniti et sequi. Sunt ad quod dolorem inventore ipsa eum commodi obcaecati at, optio fugit sint.</p>
  </div>
  
  <%- include('./partials/footer.ejs') %>

</body>
</html>